h1 {
font-weight: bold;
font-size: 22px;
font-family: verdana;
color: black;}

p {
font-weight: normal;
font-size: 14px;
font-family: verdana;
color: black;}

p span {
font-weight: bold;
font-size: 10px;
font-family: verdana;
color: black;}

h1 span {
font-weight: bold;
font-size: 22px;
font-family: verdana;
color: black;}